@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;

} 

thead th {
    border-style: double;
    
    
} 

main figure.mypicture {
    width: 50%;
    margin: 0 0 0 2%; 
    float: center;
    
}

main figure.mypicture img {width: 100%;}
main figure.mypicture figcaption {text-align: center;font-size: .75rem;}

tbody td {
border-style: double;    
    
}


li a:hover {
    background-color: lightblue;
}
  article p.town-article img { width: 29.333%; }
  
}